

/* ================== GLOBAL ================== */
QWidget {
    background-color: #1f232a;
    color: #e6e8eb;
    font-family: "Segoe UI";
    font-size: 10pt;
}

/* ================== SIDEBAR ================== */
#sidebar {
    background-color: #252b33;
    border: 1px solid #2f3742;
    border-radius: 12px;
}

/* ================== CONTENT ================== */
#content, #topbar {
    background: transparent;
}

/* ================== GROUPBOX ================== */
QGroupBox {
    background-color: #232831;
    border: 1px solid #2f3742;
    border-radius: 12px;
    margin-top: 14px;
    padding: 12px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 12px;
    padding: 0 6px;
    color: #cfd6dd;
    font-weight: 600;
}

/* ================== INPUTS ================== */
QLineEdit, QComboBox {
    min-height: 22px; 
    padding: 4px 10px;
    background-color: #1f232a;
    border: 1px solid #2f3742;
    border-radius: 8px;
}

QLineEdit:focus, QComboBox:focus {
    border: 1px solid #3a86ff;
}

QComboBox QAbstractItemView {
    background-color: #1f232a;
    border: 1px solid #2f3742;
    selection-background-color: #2b5fb8;
    color: #ffffff;
}

/* ================== BUTTONS ================== */
QPushButton {
    min-height: 24px;
    padding: 4px 14px;
    background-color: #2a313b;
    border: 1px solid #323c49;
    border-radius: 10px;
    color: #e6e8eb;
}

QPushButton:hover {
    background-color: #303846;
}

QPushButton:pressed {
    background-color: #242b34;
}

QPushButton#ApplySort {
    min-height: 34px;
    background-color: #2b5fb8;
    border-color: #2b5fb8;
    font-weight: 600;
}

QPushButton#ApplySort:hover {
    background-color: #2f6ad0;
}

QPushButton#btnStopLive, QPushButton#LiveMode {
    background-color: #b3261e;
    border-color: #b3261e;
    color: #ffffff;
    font-weight: 700;
}

/* ================== TABLE ================== */
QTableWidget, QTableView {
    background-color: #1f232a; 
    border: 1px solid #2f3742;
    border-radius: 12px;
    gridline-color: #2b313a;
    outline: 0;
    color: #e6e8eb;
}


QTableWidget::item, QTableView::item {
    padding: 6px 8px;
   
}

QTableWidget::item:selected, QTableView::item:selected {
    background-color: #2b5fb8;
    color: #ffffff;
}

QHeaderView {
    background-color: #252b33; 
    border: none;
}

QHeaderView::section {
    background-color: #252b33;
    color: #cfd6dd;
    padding: 8px 10px;
    font-weight: 600;
     border: none;
     border-right: 1px solid #1f232a;
}

QHeaderView::section:last {
    border-right: none;
}

QTableCornerButton::section {
    background-color: #252b33;
    border: none;
}

/* ================== SCROLLBAR ================== */
QScrollBar:vertical {
    background: transparent;
    width: 10px;
}

QScrollBar::handle:vertical {
    background: #3a414d;
    border-radius: 5px;
    min-height: 30px;
}

QScrollBar::add-line, QScrollBar::sub-line {
    height: 0;
}